@import 'normalize';
@import 'main';

$black: #2E2633; 
$crimson: #4b111a;


body {
	color: $black; 
	background:url('../img/ticks.png');
	font: 16px/1.5 "Open Sans", sans-serif; 
}

h1 { font: 54px/1.5 Oswald, sans-serif; margin-top: 0;  margin-bottom: 10px; padding-top: 20px; color: $black; }
h2 { font: 24px/1.5 Oswald, sans-serif; margin-top: 0; margin-bottom: 10px; }
h3 { font: 24px/1.5 Oswald, sans-serif; margin-top: 0; }
p { font: 16px/1.6 "Open Sans", sans-serif; margin-top: 0; }
a { color: #555152; }

.container {
	width: 90%;
	margin: 0 auto;
	// border: 1px solid black;
	max-width: 1460px;
}

img.hero {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


a.btn { 
	text-decoration:none;
	text-align: center;
	color: #fff;
	background: #99173C; 
	padding: 8px 18px;
	/*margin: 20px auto;*/
	border-radius: 3px;
}

a.btn i {margin-right: 10px;}

.link { text-align: center; padding:10px;}

header {
	position: relative;
}

nav { 
	height: 60px;
	font: 16px "Open Sans", sans-serif;
	float:right;
}

nav ul {
	margin: 0;
	padding: 0;
}
nav li { 
	float: left;
	padding: 30px 20px;
}

nav li:last-child {
	padding-right: 0;
}

nav li a {
	text-decoration: none;
	padding: 20px;
}

nav li a:hover {
	transition: color 0.5s linear;
	color:darkred;
}

/*section.work { background:url('img/brushed.png'); }*/

.work {padding-top: 20px;}	

.work h2 .detail {
	color: lighten($black, 50%);
	font-style: italic;
}


.work li > div {
	padding: 20px;
}

.work ul {
	padding-left: 0;  
	list-style-type: none;
}

.work li { 
	background: #ffffff;
	float:left;
	margin: 0 4% 50px 0;
	width: 48%;
	min-height: 420px;
	box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.5);
	max-width: 700px;
	overflow: hidden;
}

.work li:hover {
	img {
	-webkit-transform: scale(1.03,1.03);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
	}
}

.work img {
	max-width: 100%;
	-webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
	
}



.work li:nth-child(2n) {margin-right: 0;}


// .work li > div h2 {
// 	margin: 0 0 10px;
// 	font: 24px/1.5 Oswald, sans-serif;
// }

.work span.responsibilities {
	font: 14px/1.5 "Open Sans", sans-serif;
}

span.tag { 
	font-size: 12px;
	text-transform: uppercase; 
	background: #E9E9BE; 
	border-radius: 10px; 
	padding: 6px 10px; 
	margin-right: 5px;
	display:inline-block;
	margin-bottom: 14px; 
	color: #555152; 
	white-space: nowrap;
}

.work .link a { white-space: nowrap; }

.banner { 
	// background: url('../img/title-red.jpg') no-repeat center $crimson;
	background: url('../img/title-trees2.jpg') no-repeat;
	background-size: cover;
	height: 250px;
}

.wrap {
	width: 700px; 
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
	top: 15px;
}

.banner img {
	// margin-top: 25px;
	// margin-left: 200px;
	width: 200px;
	height: 200px;
	max-width: 100%;
	border-radius: 100px;
	float: left;
}

.big-text {
	// width: 900px;
	// border: 1px solid black;
	text-align:center;
	margin: 25px 0 0 25px;
	font: 40px/1.5 Oswald;
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px 6px rgba(50, 50, 50, 0.5);
	span {
		font-size: 26px;
		text-transform: none;
		// font-family: "Open Sans";
	}
}


@media (max-width: 1020px) {
	h2 { font-size: 22px;}
	p {font-size: 14px;}
	a.btn {font-size:14px;}
}

@media (max-width: 930px) {
	.container { 
		width: 90%;
		max-width: 700px; 
		// border: 1px solid black; 
	}
	.work li {
		width: 100%; 
		margin-right: 0;
		// border: 1px solid black;
	}
}

@media (max-width: 930px) {
	.wrap {display:none;}
}


